<footer class="footer">
    <div class="footer-with-copyright footer-with-links">
        <ul class="footer-links" style="">
            <li><a class="gwt-Anchor" href="http://geronimo.apache.org/">Geronimo Project</a></li>
            <li><a class="gwt-Anchor" href="http://apache.org/">ASF</a></li>
            <li><a class="gwt-Anchor" href="http://www.apache.org/licenses/">Licenses</a></li>
        </ul>
        <div class="footer-copyright" style="">&copy; 2018 Apache Software Foundation. All rights reserved.</div>
    </div>
</footer>